:root {
    --main-blue: #2E28FA;
    --main-yellow: #FAD628;
    --main-green: #18CC4B;
    --main-black: #13131D;
    --white: #fff;
    --black-1: #3B3B4C;
    --black-2: #727178;
    --main-red: #F15642;
}

.--main-blue {
    color: var(--main-blue);
}

.--main-yellow {
    color: var(--main-yellow);
}

.--main-green {
    color: var(--main-green);
}

.--main-black {
    color: var(--main-black);
}

.--white {
    color: var(--white);
}

.--black-1 {
    color: var(--black-1);
}

.--black-2 {
    color: var(--black-2);
}

.--main-red {
    color: var(--main-red);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Stolzl";
    color: #13131D;
    box-sizing: border-box;
}

::selection {
    color: var(--white);
    background: var(--main-black);
}

::-moz-selection {
    color: var(--white);
    background: var(--main-black);
}

@font-face {
    font-family: "Stolzl";
    src: url('../fonts/Stolzl-Book.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Stolzl";
    src: url('../fonts/Stolzl-Regular.ttf');
    font-weight: 500;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 0 40px;
}

.divide-line {
    width: 100%;
    height: 1px;
    background: rgba(19, 19, 29, 0.10);
}

.weight500 {
    font-weight: 500;
}

.logo-black-a {
    display: grid;
    align-items: center;
}

.logo-black-a:hover svg path,
.logo-black-a svg:hover path,
.logo-black-a svg:hover {
    fill: var(--main-black);
    fill-opacity: 1;
}

.logo-black-a svg path,
.logo-black-a svg,
.logo-white-a svg path,
.logo-white-a svg {
    transition: 0.2s ease-in-out;
}

.logo-white-a {
    display: grid;
    align-items: center;
    width: 158px;
}

.logo-white-a:hover svg path,
.logo-white-a svg:hover path,
.logo-white-a svg:hover {
    fill: var(--white);
    fill-opacity: 1;
}

.h1 {
    font-family: "Stolzl";
    font-size: 48px;
    line-height: 133.333%;
    letter-spacing: -1.92px;
    font-weight: 500;
}

.h2 {
    font-family: "Stolzl";
    font-size: 32px;
    letter-spacing: -1.28px;
    font-weight: 500;
    line-height: 143.75%;
}

.h3 {
    font-family: "Stolzl";
    font-size: 24px;
    letter-spacing: -0.48px;
    font-weight: 500;
}

.h4-1 {
    font-family: "Stolzl";
    font-size: 18px;
    font-weight: 500;
}

.h4-2 {
    font-family: "Stolzl";
    font-size: 18px;
    letter-spacing: -0.36px;
    font-weight: 500;
}

.h4-3 {
    font-family: "Stolzl";
    font-size: 18px;
    letter-spacing: -0.36px;
    line-height: 21.6px;
    font-weight: 400;
}

.p1-1 {
    font-family: "Stolzl";
    font-size: 16px;
    font-weight: 500;
}

.p1-2 {
    font-family: "Stolzl";
    font-size: 16px;
    letter-spacing: -0.64px;
    font-weight: 500;
}

.p1-3 {
    font-family: "Stolzl";
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
}

.p1-4 {
    font-family: "Stolzl";
    font-size: 16px;
    font-weight: 400;
}

.p1-5 {
    font-family: "Stolzl";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.p2-1 {
    font-family: "Stolzl";
    font-size: 14px;
    font-weight: 500;
}

.p2-2 {
    font-family: "Stolzl";
    font-size: 14px;
    font-weight: 400;
}

.p2-3 {
    font-family: "Stolzl";
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
}

.p3-1 {
    font-family: "Stolzl";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.24px;
}

.p3-2 {
    font-family: "Stolzl";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.48px;
    line-height: 133.333%;
}

.p3-3 {
    font-family: "Stolzl";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
    line-height: 133.333%;
}

.underline {
    text-decoration: underline;
}

/* BUTTON */

button,
button a {
    display: block;
    background: none;
    border: none;
    outline: none;
    font-family: "Stolzl";
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.15s ease-in-out;
}

.btn-secondary a {
    color: var(--main-blue);
    background-color: #2E28FA1A;
    padding: 16px 24px;
    border-radius: 12px;
}

.btn-secondary a:hover {
    background-color: #2E28FA4D;
}

.btn-primary a {
    color: var(--white);
    background-color: var(--main-yellow);
    padding: 16px 24px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 12px;
    align-items: center;
    border-radius: 50px;
    color: var(--main-black);
    font-weight: 500;
    font-size: 18px;
}

.btn-primary svg path {
    stroke: var(--main-black);
}

.btn-primary svg {
    transition: 0.15s ease-in-out;
}

.btn-primary a:hover {
    background-color: #DEBE25;
}

.btn-primary a:hover svg {
    transform: rotate(180deg) !important;
}

.btn-link a {
    text-decoration: underline;
    transition: 0.15s ease-in-out;
}

.btn-link a:hover {
    color: var(--main-blue);
}

.btn-alert a {
    background-color: #F156421A;
    color: #F15642;
}

.btn-alert a:hover {
    background-color: #F156424D;
}

/* HEADING */

.section-heading {
    display: grid;
    justify-content: center;
    grid-gap: 12px;
}

.section-heading h2,
.section-heading p {
    text-align: center;
}

.breadcrumbs {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    padding: 52px 0 24px 0;
    grid-gap: 4px;
    align-items: center;
}

#section-faq-unique {
    padding-top: 0;
}

@media only screen and (max-width: 608px) {
    .h1 {
        font-size: 32px;
    }

    .h2 {
        font-size: 24px;
    }

    .p1-5 {
        font-size: 14px;
    }

    .section-heading .h4-2 {
        font-size: 14px;
    }

    .section-heading {
        grid-gap: 8px;
    }

    .breadcrumbs {
        padding-top: 32px;
    }
}